<div class="mb-6">
  <form action="#">
    <label for="items-por-pagina">
      Mostrar
      <select name="items-por-pagina" id="items-por-pagina" class="rounded w-30" (change)="alteraQtdPorPagina($event)">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      Produtos
    </label>
  </form>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6 mb-6">
  <ng-container *ngIf="requestComplete else skeletonLoading">
    <div *ngFor="let product of productList | paginate: config" class="product shadow bg-white rounded"
      id="{{ product.id }}">
      <div class="product-image w-full">
        <img src="{{ product.images[0] }}" class="object-cover h-48 w-full rounded" />
      </div>
      <div class="product-info p-2">
        <div class="product-title text-lg font-semibold text-slate-700">{{ product.title }}</div>
        <div class="product-price text-xl text-emerald-600 font-bold mb-1">{{ product.price | currency : 'BRL'}}
        </div>
        <div class="product-description text-sm text-slate-600">{{ product.description }}</div>
      </div>
    </div>
  </ng-container>
  <ng-template #skeletonLoading>
    <div *ngFor="let productSkeleton of skeletonRangeItems | paginate: config">
      <div class="product shadow bg-white rounded">
        <div class="product-image w-full bg-slate-200 rounded h-48 animate-pulse"></div>
        <div class="product-info p-2 space-y-3 mt-2 animate-pulse">
          <div class="product-title bg-slate-200 h-5 rounded "></div>
          <div class="product-price bg-slate-200 mb-1 h-8 rounded "></div>
          <div class="product-description bg-slate-200 h-14 rounded "></div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<div class="flex justify-center">
  <app-custom-paginator [config]="config"></app-custom-paginator>
</div>